*{
    padding: 0;
    margin: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 65px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

#tituloTarefa{
    margin-top: 10px;
}

:root{
    --cor: rgb(250, 220, 120)
}

body{
    background: linear-gradient(90deg,var(--cor), rgb(248, 63, 63));
    overflow: hidden;
}

#pai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#form{
    display: flex;
    
}

#tarefaInput::placeholder{
    font-size: 25px;
}

#tarefaInput{
    border: none;
    font-size: 25px;
    height: 40px;
    width: 400px;
}

#tarefaInput:focus{
    outline: none;
}

#adicionar{
    background-color: white;
    border: none;
    position: relative;
    width: 50px;
    font-size: 30px;
    right: 20px;
    cursor: pointer;
    color: rgb(44, 44, 44);
}

#adicionar:hover{
    background-color: rgb(253, 251, 143);
    transition: 0.1s
}

#tarefas{
    display: flex;
    position: relative;
    right: 9px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.divBranca{
    display: flex;
    box-shadow: 0px 1.9px rgb(48, 48, 48);
    background-color: white;
    transform: scale(1.7);
    margin: 15px;
    width: 254px;
    font-size: 15px;
    height: 30px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.8s;
}

.divBotao{
    display: flex;
    justify-content: end;
    width: 140px;
}

.taskConcluida{
    all: unset;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    background-color: none;
    border: none;
    width: 30px;
    /* height: 20px; */
}

.concluida{
    background-color: rgb(145, 253, 102);
    transition: 1s;
}

.pConcluido{
    text-decoration: line-through;
    font-style: italic;
    transition: 1s;
}

.divP{
    display: flex;
    align-items: center;
    padding: 9px;
    width: 300px;
    overflow: hidden;
}

.tarefaAdicionada{
    overflow: hidden;  
    text-overflow: ellipsis;
}


.taskConcluida:hover{
    background-color: rgb(121, 250, 121);
}

.taskRemovida{
    all: unset;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    background-color: none;
    border: none;
    width: 30px;
}

.taskRemovida:hover{
    background-color: rgb(250, 101, 101);
}

@media screen and (max-width: 450px){
    #pai{
        position: relative;
        left: 40px;
        margin-left: 15px;
    }

    #adicionar{
        position: relative;
        right: 80px;
    }

    .divBranca{
        position: relative;
        right: 40px;
        width: 170px;
    }

    #tarefaInput{
        position: relative;
        right: 25px;
        width: 290px;
    }

    h1{
        text-align: center;
        font-size: 20px;
        width: 400px;
    }

    #tituloTarefa{
        font-size: 20px;
        position: relative;
        left: 8px;
    }
}
