*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(250, 220, 120);
}

#form{
    display: flex;
}

#tarefaInput{
    border: none;
}

#tarefaInput:focus{
    outline: none;
}

#adicionar{
    background-color: white;
    border: none;
    position: relative;
    width: 20px;
    right: 20px;
    cursor: pointer;
    color: rgb(44, 44, 44);
}

#adicionar:hover{
    background-color: rgb(253, 251, 143);
    transition: 0.1s
}

#tarefas{
    display: flex;
    flex-direction: column;
}

.divBranca{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 140px;
    height: 18.3px;
    margin-top: 9px;
    font-family: Arial, Helvetica, sans-serif;
}

.divBotao{
    display: flex;
    justify-content: end;
    width: 140px;
}

.taskConcluida{
    all: unset;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    background-color: none;
    border: none;
    width: 21px;
    height: 18.4px;
}

.concluida{
    background-color: rgb(145, 253, 102);
    transition: 1s;
}

.pConcluido{
    text-decoration: line-through;
    font-style: italic;
    transition: 1s;
}

.divP{
    width: 300px;
    overflow: hidden;
}

.tarefaAdicionada{
    overflow: hidden;  
    text-overflow: ellipsis;
}


.taskConcluida:hover{
    background-color: rgb(121, 250, 121);
}

.taskRemovida{
    all: unset;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    background-color: none;
    border: none;
    width: 21px;
    height: 18.4px;
}

.taskRemovida:hover{
    background-color: rgb(250, 125, 125);
}